@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="nb-NO">

<head>
    <title>App-v3</title>
    <link href="~/dist-v3/build/inspectionv3.css" asp-append-version="true" rel="stylesheet" />

    <script defer src="~/dist-v3/build/inspectionv3.js" asp-append-version="true" type="module"></script>

    <base href="@Url.Action(action: "Index", controller: "InspectionV3")" />
</head>

<body>
</body>

</html>
